
h1 {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.row {
    flex: 25%;
    max-width: 25%;
}

.succulent {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    max-width: 40rem;
  }
